name: Docker Image CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: compilation maven
        working-directory: ./src/api/
        run: mvn clean package -DskipTests

      - name: build docker image
        run: docker build -t ghcr.io/sarahzahiac/tp4-maintenance:$(git rev-parse --short HEAD) -f ./Dockerfile .

      - name: authentication et push de l'image docker
        run: |
          echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u "${{ github.actor }}" --password-stdin
          docker push ghcr.io/sarahzahiac/tp4-maintenance:$(git rev-parse --short HEAD)
